<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">

<head>
    <title>Войти в аккаунт</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
</head>

<body>

<div class="container">
    <div class="block">

<form th:Instruction="@{/login}" method="post">
    <h1>Вход в аккаунт</h1>
    <label><input type="text" placeholder="ник" name="username"/> </label>
    <label><input type="password" placeholder="пароль" name="password"/> </label>
    <table>
        <tr>
            <td>
                <input type="submit" class="submit-btn" value="Войти"/>
            </td>
            <td>
                <a th:href="@{/registration}" class="btn">Регистрация</a>
            </td>
        </tr> <!--ряд с ячейками тела таблицы-->
    </table>
</form>
    </div>
</div>
<script th:src="@{/js/login.js}"> </script>
</body>
</html>