<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" lang="ru">
<head>
    <title>login</title>
    <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
</head>
<body>
<div th:if="${param.error}">
    <p><img src="https://avatars.mds.yandex.net/i?id=2f01c7bd23c2650943ab716aa7b9eee25c6391ff-5987336-images-thumbs&n=13"
            alt="Ой, картинка с ошибкой исчезла">
    </p>
</div>
<div th:if="${param.logout}">
    <p><img
            alt="Ой, картинка с досвидули исчезла" th:src="@{/img/logout.jpg}">
    </p>
</div>

<form th:action="@{/login}" method="post">
    <div><label> Email or Name: <input type="text" name="username"/> </label></div>
    <div><label> Password: <input type="password" name="password"/> </label></div>
    <div><input type="submit" value="Sign In"/></div>
</form>

<form th:action="@{/registration}">
    <input type="submit" value="Registration!">
</form>
</body>
</html>