<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
  <title>users</title>
  <link rel="icon" th:href="@{/img/favicon.ico}" type="image/x-icon">
</head>
<body>
<form th:Instruction="@{/}" method="get">
  <input type="submit" value="back"/>
</form>
<form th:Instruction="@{/users}" method="post">
  <div><label> Email : <input type="text" name="email"/> </label></div>
  <div><input type="submit" value="Find Email"/></div>

</form>
<div>
  <div>
    <h2>Игроки</h2>
  </div>
  <table>
    <thead>
    <tr>
      <th>Имя</th>
      <th>Победы</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each = "user : ${users}">
      <td th:text = "${user.name}"></td>
      <td th:text = "${user.wins}"></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>